body {
  background-color: #ffffff;
  font-family: sans-serif;
  color: #0d1b2a;
  margin: 0;
  padding: 0;
}

section h2 {
  background:  #004a94;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
}

section p.text-muted {
  color: #6c757d;
}

h2.text-primary {
  color: #ffffff !important;
  letter-spacing: 0.5px;
}

.text-secondary {
  color: #0072e4 !important; /
}

/*--- FORMULARIO GENERAL ---*/
form.bg-light {
  background-color: #f9f9f9 !important; 
  border-left: 5px solid #0072e4;
}

.form-label {
  font-weight: 600;
  color: #0072e4;
}

/*--- INPUTS ---*/
.form-control,
.form-select {
  border: 1px solid #ccd3db;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.form-control:focus,
.form-select:focus {
  border-color: #004a94;
  box-shadow: 0 0 6px rgba(0, 86, 179, 0.3);
}

.form-check-input:checked {
  background-color: #0072e4;
  border-color: #0072e4;
}

/*--- SERVICIOS ---*/
.form-check-label {
  color: #004a94;
  cursor: pointer;
  transition: color 0.2s ease;
}

.form-check-label:hover {
  color: #004a94;
}

.form-check-label img {
  transition: transform 0.2s ease;
  filter: grayscale(40%);
}

.form-check-input:checked + .form-check-label img {
  transform: scale(1.1);
  filter: grayscale(0%);
}

.card {
  transition: all 0.3s ease;
  border-radius: 0.75rem;
  border-width: 2px !important;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 0.75rem rgba(0, 76, 151, 0.15);
}

/*--- BOTON ---*/
.btn-primary {
  background-color: #0072e4;
  border: none;
  border-radius: 0.625rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background-color: #004a94;
  transform: translateY(-2px);
}

.btn-outline-primary {
  background-color: #0072e4;
  color: #fff;
  border-radius: 0.625rem;
}

.btn-outline-primary:hover {
  background-color: #004a94;
  color: #fff;
}

/*--- MODAL ---*/
.modal-content {
  border-radius: 0.938rem;
  overflow: hidden;
}

.modal-header.bg-primary {
  background-color: #004a94 !important;
}

.modal-body p {
  color: #333;
}
