/* --- GENERAL --- */
body {
  background-color: #ffffff;
  font-family: sans-serif;
  color: #0d1b2a;
  margin: 0;
  padding: 0;
}

/* --- CARRUSEL --- */
.carousel-container {
  width: 100%;
  overflow: hidden;
  padding: 2.5rem;
  margin-bottom: 1.25rem;
}

.carousel-inner img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 3.125rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-control-prev {
  left: -3.75rem;
}
.carousel-control-next {
  right: -3.75rem;
}
.carousel-indicators {
  bottom: -3.438rem;
}

.carousel-indicators [data-bs-target] {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #cccccc;
  border: none;
  margin: 0 0.75rem;
}

.carousel-indicators .active {
  background-color: #0072e4;
}

/* --- TITULOS --- */
.section-title {
  background-color: #004a94;
  color: #ffffff;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.section-title h2 {
  margin: 0;
  font-size: 1.8rem;
}

/* --- PLANES --- */
.plans {
  text-align: center;
  padding: 3.125rem 0px;
  background-color: #ffffff;
}

/* --- CONTENEDOR TARJETAS --- */
.plans-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.813rem;
  margin-bottom: 1.875rem;
}

/* --- TARJETAS INDIVIDUALES--- */
.plan {
  background-color: #004a94;
  border: 1px solid #0d1b2a;
  border-radius: 1.25rem;
  box-shadow: 0 4px 0.625rem rgba(0, 0, 0, 0.08);
  padding: 1.25rem;
  width: 20rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-basis: 18.75rem;
  max-width: 20rem;
}

.plan:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 0.938rem rgba(0, 0, 0, 0.15);
}

.plan h3 {
  color: #ffffff;
  margin-bottom: 0.625rem;
}

.plan p {
  margin: 6px 0;
  font-size: 0.95rem;
  color: #ffffff;
  margin-bottom: 1rem;
  margin-top: 0;
}

.plan .p-oferta {
  background-color: #fee400;
  color: #1b263b;
  padding: 6px 0.75rem;
  border-radius: 0.938rem;
  display: inline-block;
  margin-top: 0.625rem;
  margin-bottom: 0.938rem;
}

/* --- BOTON --- */
.plans button {
  background-color: #0072e4;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.563rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.plans button:hover {
  background-color: #004a94;
}

/* --- OFERTAS --- */
.oferts {
  text-align: center;
  padding: 3.125rem 0px;
  background-color: #ffffff;
}

/* --- CONTENEDOR --- */
.oferts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.188rem;
  margin: 0 auto 1.875rem;
  max-width: 50rem;
}

/* --- TARJETAS --- */
.product {
  background-color: #cccccc;
  border: 1px solid #000000;
  border-radius: 0.75rem;
  width: 20rem;
  padding: 1.25rem;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 0.75rem #000000;
}

.product img {
  width: 100%;
  height: 15.625rem;
  object-fit: contain;
}

.info-product {
  padding: 0.5rem;
}

.info-product h3,
.info-product p {
  margin: 0.5rem 0;
  color: #000000;
  font-size: 1.2rem;
}

.info-product h3:first-of-type {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 0.5rem;
  font-size: 1.7rem;
}

.info-product del {
  opacity: 0.8;
}

/* --- BOTON --- */
.oferts button {
  background-color: #0072e4;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.563rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-top: 1.25rem;
}

.oferts button:hover {
  background-color: #004a94;
}

/*--- BANNERS ---*/
.banner {
  position: relative;
  width: 100%;
  max-width: 53.125rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1.875rem;
  aspect-ratio: 16 / 9;
  background-color: #ffffff;
}

.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 1.875rem;
  padding: 0.625rem;
}

/* --- RESPONSIVE --- */
@media (max-width: 992px) {
  .plans-container,
  .oferts-container {
    flex-direction: column;
    align-items: center;
  }

  .plan {
    width: 85%;
    max-width: 21.875rem;
  }

  .carousel-container {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0;
  }
  .carousel-inner img {
    border-radius: 0.625rem;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-control-prev {
    left: -1.25rem;
  }
  .carousel-control-next {
    right: -1.25rem;
  }
}
