body {
  background-color: #ffffff;
  color: #0d1b2a;
  margin: 0;
  padding: 0;
}

/*---NAV (FILTROS) ---*/
.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: #004a94;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.filters button {
  background-color: #004a94;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #004a94;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filters button:hover {
  color: #fff;
  border: 1px solid #fff;
}

/*- SECCIONES DE PRODUCTOS ---*/
.products {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4rem 0;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 4.5rem;
  width: 90%;
  max-width: 75rem;
}

/*--- TARJETAS DE PRODUCTOS ---*/
.product {
  background-color: #cccccc;
  border: 1px solid #000000;
  border-radius: 0.75rem;
  width: 20rem;
  padding: 1.25rem;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 0.75rem #000000;
}

.product img {
  width: 100%;
  height: 15.625rem;
  object-fit: contain;
}

/*--- INFO DEL PRODUCTO ---*/
.info-product {
  padding: 0.5rem;
}

.info-product h3,
.info-product p {
  margin: 0.5rem 0;
  color: #000000;
  font-size: 1.2rem;
}

.info-product h3:first-of-type {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 0.5rem;
  font-size: 1.7rem;
}

.info-product del {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .filters {
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .filters button {
    padding: 0.6rem 1rem;
  }

  .product-container {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  .product img {
    height: 11.25rem;
  }
}
