/* --- GENERAL --- */
body {
  background-color: #ffffff;
  font-family: sans-serif;
  color: #0d1b2a;
  margin: 0;
  padding: 0;
}

/*--- BANNERS ---*/
.banner {
  position: relative;
  width: 100%;
  max-width: 53.125rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1.875rem;
  aspect-ratio: 16 / 9;
  background-color: #ffffff;
}

.banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  border-radius: 1.875rem;
  padding: 0.625rem;
}

/*--- CONTENEDOR PRINCIPAL ---*/
.plans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*--- CADA COLUMNA ---*/
.plans-column {
  flex: 1 1 33.33%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*--- TITULO ---*/
.section-title {
  width: 100%;
  background-color: #004a94;
  color: white;
  text-align: center;
  padding: 1rem 0;
  box-sizing: border-box;
}

.section-title h2 {
  margin: 0;
  font-size: 1.8rem;
}

/*--- TARJETA ---*/
.plan {
  background-color: #004a94;
  border: 1px solid #0d1b2a;
  width: 18.75rem;
  margin-top: 1.875rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  box-shadow: 0 4px 0.625rem rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  text-align: center;
}

.plan:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 0.938rem rgba(0, 0, 0, 0.15);
}

.plan h3 {
  color: #ffffff;
  margin-bottom: 0.625rem;
}

.plan p {
  margin: 6px 0;
  font-size: 0.95rem;
  color: #ffffff;
  margin-bottom: 1rem;
  margin-top: 0;
}

.plan .p-oferta {
  background-color: #fee400;
  color: #1b263b;
  padding: 6px 0.75rem;
  border-radius: 0.938rem;
  display: inline-block;
  margin-top: 0.625rem;
  margin-bottom: 0.938rem;
}

/* --- BOTON --- */
.plans-column button {
  background-color: #0072e4;
  color: #ffffff;
  border: none;
  padding: 0.75rem 1.563rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin: 1.875rem 0 2.5rem 0;
}

.plans-column button:hover {
  background-color: #004a94;
}

@media (max-width: 900px) {
  .plans-column {
    flex: 1 1 100%;
  }
}
