* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MiFuente" !important;
}

@font-face {
  font-family: "MiFuente";
  src: url("../assets/fonts/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* --- GENERAL HEADER --- */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.active-link {
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 0.5rem;
}

/* --- HEADER UP --- */
.header-up {
  background-color: #004a94;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2.5rem;
}

.header-up .nav-links {
  display: flex;
  gap: 2.188rem;
}

.header-up .nav-links a {
  color: #fff;
  padding: 0.313rem 0.5rem;
  text-decoration: none;
  font-size: 1rem;
}

.header-up .nav-links a:hover {
  color: #fee400;
  transform: scale(1.1);
  transition: color 0.3s ease, transform 0.3s ease;
}

.user-icon img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 50%;
}

/* --- HEADER DOWN --- */
.header-down {
  background-color: #0072e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2.5rem;
  flex-wrap: wrap;
}

.logo-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo-icon img {
  height: 5.3rem;
  width: auto;
}

.logo-icon h1 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

.menu {
  display: flex;
  gap: 2.188rem;
}

.menu a {
  color: #fff;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  font-size: 1.4rem;
}

.menu a:hover {
  color: #fee400;
  transform: scale(1.1);
  transition: color 0.3s ease, transform 0.3s ease;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 0.275rem 1.25rem;
  border: 1px solid #004a94;
  border-right: none;
  border-radius: 1.25rem 0 0 1.25rem;
  outline: none;
  flex-grow: 1;
  font-size: 1rem;
}

.search-bar button {
  padding: 0.275rem 0.75rem;
  border: 1px solid #004a94;
  background-color: #004a94;
  border-radius: 0 1.25rem 1.25rem 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button img {
  width: 1rem;
  height: 1rem;
}

.search-bar button:hover img {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

.search-bar button:hover {
  background-color: #fee400;
}

/* --- FOOTER GENERAL --- */
footer {
  background-color: #004a94;
  color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin-top: auto;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* --- FOOTER UP --- */
.footer-up {
  text-align: left;
  padding: 0.625rem 1.25rem;
  border-bottom: 1px solid rgba(13, 27, 42, 0.2);
}

.footer-up h4 {
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

/* --- FOOTER MIDDLE --- */
.footer-middle {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.875rem 2.5rem;
  background-color: #004a94;
}

.footer-column {
  flex: 1;
  min-width: 9.375rem;
  margin: 0.625rem;
}

.footer-column h4 {
  font-size: 1.1rem;
  margin-bottom: 0.625rem;
  color: #ffffff;
  font-weight: bold;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 0.375rem;
}

.footer-column a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.footer-column a:hover {
  color: #fee400;
}

/*--- REDES ---*/
.social-media.group {
  display: flex;
  gap: 0.938rem;
  margin-top: 0.625rem;
}

.badge-social-media img {
  width: 1.875rem;
  height: 1.875rem;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.badge-social-media img:hover {
  transform: scale(1.1);
  filter: brightness(0) invert(0.6) sepia(1) hue-rotate(180deg);
}

/* --- FOOTER DOWN --- */
.footer-down {
  background-color: #004a94;
  text-align: center;
  padding: 0.625rem 0;
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.7);
  border-top: 1px solid rgba(13, 27, 42, 0.2);
}

.footer-down p {
  margin: 0;
  padding: 0;
}

/* --- MENU HAMBURGUESA --- */
.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  width: 2.188rem;
  height: 1.875rem;
  gap: 6px;
}

.menu-toggle span {
  background-color: #fff;
  height: 3px;
  border-radius: 2px;
  width: 100%;
}

.menu button,
.menu-title h3 {
  display: none;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .header-up,
  .header-down {
    align-items: center;
    gap: 0.625rem;
    padding: 0.3rem 1.25rem;
    flex-direction: row;
    justify-content: space-betcween;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    max-height: 100dvh;
    overflow-y: auto;
    background-color: #ffffff;
    padding-top: 6rem;
    transition: right 0.3s ease-in-out;
    z-index: 999;
  }

  .menu-toggle {
    display: flex;
    order: 3;
  }

  .menu a {
    font-size: 1.5rem;
    color: #000000;
  }
  .menu.active {
    display: flex;
    right: 0;
  }

  .logo-icon {
    order: 1;
  }

  .logo-icon img {
    height: 3.8rem;
  }

  .logo-icon h1 {
    display: none;
  }

  .search-bar {
    order: 2;
    width: 60%;
    justify-content: center;
  }
  .search-bar input {
    width: 70%;
    font-size: 0.9rem;
  }

  .footer-up,
  .footer-middle {
    padding: 0.5rem;
  }

  .footer-middle {
    align-items: center;
    text-align: center;
  }

  .footer-column {
    margin: 0.938rem 0;
  }

  .social-media.group {
    justify-content: center;
  }

  .close-button {
    position: absolute;
    bottom: 1.875rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #0072e4;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.625rem 1.563rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .close-button:hover {
    background-color: #004a94;
  }

  .menu.active button,
  .menu-title h3 {
    display: block;
  }

  .menu-title {
    width: 100%;
    background-color: #0072e4;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
